#IndexTable{
   margin-top: 60px;
   margin-bottom: 50px;
   width: 100%;

}
td{
    width: 50%;
}

#tableDiv {
    -webkit-box-shadow: -2px 4px 15px 0px rgba(117,150,201,1);
    -moz-box-shadow: -2px 4px 15px 0px rgba(117,150,201,1);
    box-shadow: -2px 4px 15px 0px rgba(117,150,201,1);
}
